body {
  font-family: "Roboto Mono", monospace;
  font-size: 30px;
}

.container {
  width: auto;
  max-width: 800px;
  margin-top: 60px;
  height: 950px;
  border-radius: 0.5rem;
  background: #d6f5e8;
}

h1,
h3,
h4 {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

hr {
  margin: 4rem 0;
  border: 0;
  opacity: 10;
}

#button-search {
  background-color: #1aa179;
  color: black;
}

#button-current {
  margin-left: 1rem;
  border-radius: 0.25rem;
}

ul {
  font-size: 15px;
}

.big-temp {
  font-size: 50px;
  font-weight: 700;
}

.fa-sun {
  font-size: 150px;
}

.weather-icon {
  font-size: 50px;
  padding-right: 0.5rem;
}

.btn-warning {
  width: 260px;
}

.units {
  font-size: 22px;
  position: relative;
  top: -10px;
}

.units > a {
  text-decoration: none;
}

#footer {
  text-align: center;
}

#footer a {
  text-decoration: none;
}
