body {
  font-family: "Roboto Mono", monospace;
  /* font-size: 30px; */
}

.container {
  width: auto;
  max-width: 800px;
  margin-top: 60px;
  border-radius: 0.5rem;
  background: #d6f5e8;
}

hr {
  margin: 2rem 0;
  border: 0;
  opacity: 10;
}

ul {
  font-size: 15px;
}

.big-temp {
  font-size: 50px;
  font-weight: 700;
}

/* .fa-sun {
  font-size: 110px;
} */

/* .weather-icon {
  font-size: 40px;
  padding-right: 0.5rem;
}

.btn-warning {
  width: 260px;
} */

.units {
  font-size: 22px;
  position: relative;
  top: -10px;
}

.units > a {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 20px;
  font-weight: bolder;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 15px;
  color: #198754;
}

#footer a {
  text-decoration: none;
}
